@charset "UTF-8";

/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
}

html,
body{
    background: #000;
}

.flex{
    display: flex;
}

.interface{
    padding: 40px 4%;
}

h1 span{
    color: #ff0404;
}

::-webkit-scrollbar {
    width: 12px; 
  }
  
 
::-webkit-scrollbar-track {
    background-color: #000; 
}
  
 
::-webkit-scrollbar-thumb {
    background-color: #6a040f;
    transition: 0.3s;
    border-radius: 20px;
}
  
  
::-webkit-scrollbar-thumb:hover {
    background-color: #c91023;
}
::-webkit-scrollbar-thumb:focus{
    border-radius: 20px;
}   

/* Header Style */

.menu-container ul {
    display: flex;
    justify-content: right;
}
.menu-container a li {
    padding: 10px;
    list-style: none;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-size: 17px;
    margin-top: 25px;
    margin-right: 15px;
    position: relative;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}
.menu-container a li::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #a98467;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.menu-container a li:hover {
    transform: scale(1);
    color: #a98467;
}
.menu-container a li:hover::after {
    width: 100%;
}
.menu-container a {
    text-decoration: none;
}
.menu-container {
    position: fixed;
    margin-left: 1%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0); 
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    transition: background-color 0.5s ease;
}

/* Main Style */

.wrapper{
    width: 100%;
    margin: 0 auto;
}
main{
    display: block;
}

/* Wrapper Style */

section.module p{
    margin-bottom: 40px;
}
section.module:last-child{
    margin-bottom: 0;
}
section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}
section.module.content{
    padding: 40px 0 ;
    background: #000;
    height: 100vh !important;
}
section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax::after {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 40%, #000 100% );
}

section.module.parallax-1{
    background-image: url(fundo.png);
} 

section.module.parallax .slogan-parallax {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    z-index: 50;
    text-transform: uppercase;
    transition: 0.5s;
    text-shadow: 1px 1px 1px #000000;
}

section.module.parallax .slogan-parallax:hover {
    cursor: pointer;
    transform: scale(1.1);
    animation: none;
    text-shadow: 1px 1px 1px #000000;
    font-size: 48px;
}
h1{
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.slogan-parallax {
    text-shadow: 1px 1px 1px #000000;
    max-width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
  @import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

/* Carrosel Menu */

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: #6a040f 0px 0px 0px 3px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
    position: absolute;
    top: 50%; /* Move a imagem para 50% da altura da div */
    transform: translateY(-50%); /* Centraliza verticalmente a imagem */
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

/* Mobile Style */


/* About Style */

section.about{
    padding: 80px 4%;
}

.flex-about{
    display: flex;
    align-items: center;
}

h2.title{
    color: #fff;
    font-size: 38px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 600;
}

.flex-about img{
    width: 22em;
    border-radius: 40px;
    margin: 0px 3em;
    transition: .2s;
    cursor: pointer;
    border: 2px solid #ffffff1f;
}

.flex-about img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff79;
}

h2.title span{
    color: #ff0404;
}

section.about p {
    color: #fff;
    font-size: 22px;
    text-align: justify;
    letter-spacing: 3px;
}
/* Form Style */

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a040f;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    top: 50%;
    left: 0; 
    width: 15em;
    height: auto;
    box-shadow: rgba(106, 4, 15, 0.4) 5px 5px, rgba(106, 4, 15, 0.3) 10px 10px, rgba(106, 4, 15, 0.2) 15px 15px, rgba(106, 4, 15, 0.1) 20px 20px, rgba(106, 4, 15, 0.05) 25px 25px;

}

.general-container{
    box-shadow: 0 0 40px 10px #ffffff18;
}

.container-form, .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    padding-bottom: 5em;
}
form input,
form textarea,
form button {
    height: auto;
    resize: vertical;
}
.form, .contato {
    color: #f5f5f5;
    font-size: 2.5rem;
    text-align: center; 
    margin: 0 auto;
    text-shadow: 1px 1px 1px black;
    font-family: 'Poppins', sans-serif;
}

.form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
}
form label {
    color: #f5f5f5;
    font-size: 17px;
    margin: 4px;
}
form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus {
    border-radius: 16px;
    border: 1px solid #000000;
}
form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px; 
    left: 95vw; 
    z-index: 999999;
    transition: .2s;
}

.whatsapp-icon:hover{
    transform: scale(1.09);
}
  
.whatsapp-icon i {
font-size: 40px; 
color: #25d366; 
}
  
form textarea:focus {
    border-radius: 10px;
    border: 1px solid #000000;
}
form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 0.5s;
    margin-bottom: 20px;
}
form button:hover {
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}
.wrapper2{
    width: 100%;
    margin: 0 auto;
    background: #000;
}
section.module.parallax-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.slogan-parallax-2 {
    max-width: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    letter-spacing: 5px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000000;
    background: #000;
    color: #fff;
}
section.module.parallax-2 .slogan-parallax-2 {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    z-index: 50;
    text-transform: uppercase;
    transition: 0.5s;
    text-shadow: 1px 1px 1px #000000;
}

section.module.parallax-2::after {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: 
    linear-gradient(to top, rgba(0,0,0,0) 40%, #000 100%),
    linear-gradient(to bottom, rgba(0,0,0,0) 40%, #000 100%);
  
}


section.module.parallax-2 .slogan-parallax-2:hover {
    cursor: pointer;
    transform: scale(1.1);
    animation: none;
    text-shadow: 1px 1px 1px #000000;
    font-size: 48px;
}
/* pagina obrigado */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6c757d;
    flex-direction: column;
}
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #000000;
}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px #000000;
}
.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #6c757d;
    font-size: 18px;
    transition: all 0.5s; 
}
.btn:hover{
    border-radius: 16px;
    text-shadow: 1px 1px 1px #000000;
    border: 1px solid #000;
}
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff18;
    background: #000;
}

.flex-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-footer img{
    width: 100px;
    height: 100px;
}

footer .flex{
    flex-direction: row;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #6a040f;;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #6a040f;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

button:hover, form .btn-submit input:hover{
    box-shadow: 0px 0px 8px #6a040f;
    transform: scale(1.05);
}

footer .line-footer p i {
    color: #6a040f;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}


footer .line-footer p a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 500;
}

footer .line-footer__street{
    padding: 10px 0;
}

footer .line-footer__street p i {
    color: #6a040f;
    font-size: 24px;
}


footer .line-footer__street p a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.localizacao {
    width: 30em;
    height: 15em;
    box-shadow: rgba(106, 4, 15, 0.4) 5px 5px, rgba(106, 4, 15, 0.3) 10px 10px, rgba(106, 4, 15, 0.2) 15px 15px, rgba(106, 4, 15, 0.1) 20px 20px, rgba(106, 4, 15, 0.05) 25px 25px;
    border-radius: 20px;
    margin-top: 10px;
}



@media screen and (max-width: 1100px) {

    /* General Styles */

    .flex{
        flex-direction: column;
    }

    /* Header Style */

    .menu-container{
        display: none;
    }

    section.module.parallax .slogan-parallax{
        font-size: 30px;
    }

    section.module.parallax .slogan-parallax:hover {
        font-size: 30px;
    }

    .whatsapp-icon {
        left: 85vw; 
        z-index: 999999;
        transition: .2s;
    }

    /* Wrapper Style */

    section.module.parallax-1 {
        background-image: url(fundo.png);
        background-size: cover;
        background-position: -50px 0;
    }

    section.module.parallax::after {
        content: " ";
        height: 100%;
        width: 100%;
        position: absolute;
        background-position: -50px 0;
        z-index: 8;
    }
    /* About Style */

    h2.title{
        font-size: 30px;
    }

    .flex-about p{
        font-size: 20px;
    }

    section.about p{
        letter-spacing: 1px;
    }

    .flex-about{
        flex-direction: column;
    }

    .flex-about img{
        margin-top: 2em;
        box-shadow: 0 0 3px #ffffff79;
    }

    .flex-about img:hover{
        transform: none;
    }

    /* Form Style */

    .slogan-parallax-2{
        margin-bottom: 1em;
    }

    .form, .contato{
        margin-left: 0px;
        max-width: 9em;
        font-family: 'Poppins', sans-serif;
    }

    .localizacao{
        max-width: 21em;
    }

    /* Slider */

    .slider{
        width: 20em;
    }
    .manual-navigation{
        width: 20em;
    }

    .slide img{
        width: 450px;
    }
    
    .navigation-auto{
        width: 20em;
    }

    /* Footer Style */

    footer{
        padding: 20px;
    }

    footer .line-footer p i {
        color: #6a040f;
        font-size: 18px;
    }

    
    footer .line-footer__street p i {
        color: #6a040f;
        font-size: 18px;
        font-weight: 300;
    }

    /* Mobile Style */

    .btn-open-menu{
        display: block;
    }
}